<h3>Add Extension</h3>
<div alerts-panel clear-on-init="true"></div>
<div class="form-group">
    <label for="name">Which language is related to the extension?</label>
    <div multi-select input-model="languages" button-label="icon langName" item-label="icon langName" tick-property="ticked" selection-mode="single">
    </div>
</div>
<form class="form" role="form" ng-if="addExtensionSelectedLangId != null">
    <div class="form-group">
        <label for="name">Extension Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="addExtensionObj.extensionName" />
    </div>
    <div class="form-group">
        <label for="githubUrl">GitHub URL</label>
        <input type="text" class="form-control" id="githubUrl" placeholder="GitHub url" ng-model="addExtensionObj.githubUrl" />
    </div>
    <div class="form-group">
        <label for="icon">Which categories are related to this extension?</label>
        <div multi-select input-model="relevateCategories" button-label="categoryName" item-label="categoryName" tick-property="ticked">
        </div>
    </div>
    <div class="form-group">
        <label for="icon">Which frameworks required as dependency for this extension?</label>
        <div multi-select input-model="relevantFrameworks" button-label="frameworkName" item-label="frameworkName" tick-property="ticked">
        </div>
    </div>
    <div class="form-group">
        <label for="versions">Available versions</label>
        <input type="text" class="form-control" id="versions" placeholder="versions, seperated with comma" ng-model="addExtensionObj.versions" ng-list />
    </div>
    <button type="submit" class="btn btn-primary" ng-click="addExtension() ">Add New Extension!</button>
</form>
