<h3>Add Framwework</h3>
<div alerts-panel clear-on-init="true"></div>
<form class="form" role="form">
    <div class="form-group">
        <label for="name">Framework Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="addFrameworkObj.frameworkName" />
    </div>
    <div class="form-group">
        <label for="icon">Icon URL</label>
        <input type="text" class="form-control" id="icon" placeholder="Icon URL" ng-model="addFrameworkObj.icon" />
    </div>
    <div class="form-group">
        <label for="githubUrl">GitHub URL</label>
        <input type="text" class="form-control" id="githubUrl" placeholder="GitHub url" ng-model="addFrameworkObj.githubUrl" />
    </div>
    <div class="form-group">
        <label for="versions">Available versions</label>
        <input type="text" class="form-control" id="versions" placeholder="versions, seperated with comma" ng-model="addFrameworkObj.versions" ng-list />
    </div>
    <div class="form-group">
        <label for="icon">Language</label>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="language in languages" ng-click="addFrameworkObj.languageId=language._id">
                {{language.langName}}
            </li>
        </ul>
    </div>
    <button type=" submit " class="btn btn-primary" ng-click="addFramework() ">Add New Framework!</button>
</form>
