<ul class="nav nav-pills pull-right">
    <li ng-class="{'active': $state.current.name === 'authorized.stacks'}"><a ui-sref="authorized.stacks">Home</a>
    </li>
    <li ng-class="{'active': $state.current.name === 'unauthorized.login'}" ng-if="!userDetails.isLoggedIn">
        <a ui-sref="unauthorized.login">Login</a>
    </li>
    <li ng-class="{'active': $state.current.name === 'unauthorized.register'}" ng-if="!userDetails.isLoggedIn">
        <a ui-sref="unauthorized.register">Register</a>
    </li>
    <li ng-class="{'active': $state.current.name === 'authorized.profile'}" ng-if="userDetails.isLoggedIn">
        <a ui-sref="authorized.profile">{{userDetails.user.email}}</a>
    </li>
    <li ng-class="{'active': $state.current.name === 'authorized.logout'}" ng-if="userDetails.isLoggedIn">
        <a ui-sref="authorized.logout">Logout</a>
    </li>
</ul>
<h3 class="text-muted">ShowMyStack</h3>
