<div class="modal-header">
    <h3 class="modal-title">Add Stack</h3>
</div>
<div class="modal-body">
    <form class="form" role="form">
        <div class="form-group">
            <div class="form-group">
                <label for="githubUrl">GitHub URL</label>
                <input type="text" class="form-control" id="githubUrl" placeholder="GitHub url" github-url-input gh-model="ghModel"
                       ng-model="addStackObj.githubUrl" />
            </div>
            <div class="form-group">
                <label for="name">Stack Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name"
                       ng-model="addStackObj.title" />
            </div>
            <div ng-show="isLoadingCheckDeps">
                Loading Bower Dependecies...
            </div>
            <div class="form-group" ng-show="bowerPackages.length > 0">
                <label for="bower">Packages from Bower.json</label>
                <ul class="list-group" id="bower">
                    <li class="list-group-item" ng-repeat="package in bowerPackages">
                        <div class="row">
                            <div class="col-md-9">
                                {{ package.name }}
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info" tooltip="This tool is missing!"
                                        tooltip-trigger="mouseenter" ng-click="addMissingTool(package)" ng-if="!package.existsInTools">Add</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addStack()">Add Stack!</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>