<div alerts-panel clear-on-init="true"></div>
<form class="form form-inline" role="form">
    <div class="form-group">
        <label for="title">Project Name</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="addEditStackObj.title" />
    </div>
    <div class="form-group">
        <label for="ghUrl">GitHub URL</label>
        <input type="text" class="form-control" id="ghUrl" placeholder="GitHub url" ng-model="addEditStackObj.githubUrl" />
    </div>
    <button type="submit" class="btn btn-primary " ng-click="addEditStack()">{{buttonText}}</button>
</form>
<div class="row">
    <div class="col-md-4">
        <div class="well items-list">
            <h4>Languages</h4>
            <smart-list selected-model="selectedLanguages" events="languageListEvents">
                <smart-list-item
                        non-clickable="true"><input type="text" class="form-control"
                                                    placeholder="Search Languages..." ng-model="searchLangs"
                        /></smart-list-item>
                <smart-list-item item-checkbox="true" ng-repeat="language in languages" item-value="language"
                                 item-id-prop="_id">{{language.langName}}</smart-list-item>
            </smart-list>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well items-list" ng-if="onWorkLanguage || false">
            <button ng-click="addMissingCategory()" class="btn btn-info pull-right">Add Category</button>
            <h4>How do you do...</h4>
            <smart-list selected-model="" events="categoryListEvents">
                <smart-list-item ng-repeat="category in categories | filter: filterCategories" item-value="category"
                                 item-id-prop="_id">{{category.categoryName}}</smart-list-item>
            </smart-list>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well items-list" ng-if="onWorkCategory || false">
            <button class="btn btn-info pull-right" ng-click="AddMissingTool()">Add Tool</button>
            <h4>What do you use for {{onWorkCategory.categoryName}}?</h4>
            <smart-list selected-model="selectedTools" events="toolsListEvents">
                <smart-list-item item-checkbox="true" ng-repeat="tool in tools"
                                 item-value="tool"
                                 item-id-prop="_id">{{tool.toolName}}</smart-list-item>
            </smart-list>
        </div>
    </div>
</div>
