<div class="modal-header">
    <h3 class="modal-title">Add Stack</h3>
</div>
<div class="modal-body">
    <form class="form" role="form">
        <div class="form-group">
            <div class="form-group">
                <label for="githubUrl">GitHub URL</label>
                <input type="text" class="form-control" id="githubUrl" placeholder="GitHub url" github-url-input gh-model="ghModel"
                       ng-model="addStackObj.githubUrl" />
            </div>
            <div class="form-group">
                <label for="name">Stack Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name"
                       ng-model="addStackObj.title" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addStack()">Add Stack!</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>