<accordion close-others="false">
    <accordion-group ng-repeat="stack in stacks">
        <accordion-heading>
        <button class="btn btn-warning pull-right" ui-sref="authorized.editStack({stackId: stack._id})">Edit</button>
            {{stack.title}}
        </accordion-heading>
        Project
        <strong>{{stack.title}}</strong>&nbsp;uses {{stack.languages.length}} programming languages.
        <accordion close-others="false">
            <accordion-group ng-repeat="lang in stack.languages">
                <accordion-heading>
                    <img class="data-image img-rounded" ng-src="{{lang.lang.icon}}" />{{lang.lang.langName}}
                </accordion-heading>
                Project
                <strong>{{stack.title}}</strong>&nbsp;uses {{lang.frameworks.length}} {{lang.lang.langName}} frameworks.
                <accordion close-others="false">
                    <accordion-group ng-repeat="framework in lang.frameworks">
                        <accordion-heading>
                            <img class="data-image img-rounded" ng-src="{{framework.framework.icon}}" />{{framework.framework.frameworkName}} (v{{(framework.framework.versions | filter: {_id: framework.frameworkVersion})[0].versionNumber}})
                        </accordion-heading>
                        <ul class="list-group" ng-repeat="extension in framework.extensions">
                            <li class="list-group-item">
                                {{extension.extension.extensionName}} ({{ (extension.extension.versions | filter: {_id: extension.version})[0].versionNumber }})
                                <br>Uses for {{ $parent.getCategories(extension.extension.categories).join(', ') }}
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </accordion-group>
        </accordion>
    </accordion-group>
</accordion>
