<div alerts-panel clear-on-init="true"></div>
<div class="row animate-if" ng-if="selectedStack">
    <div class="col-md-12">
        <div class="well">
            <h3>{{ selectedStack.title }}</h3>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt ng-if="selectedStack.githubUrl">GitHub</dt>
                        <dd ng-if="selectedStack.githubUrl"><a target="_blank" ng-href="{{ selectedStack.githubUrl }}">{{ selectedStack.githubUrl }}</a></dd>
                        <dt>Languages</dt>
                        <dd>{{ selectedStack.languages.length }}</dd>
                        <dt>Total tools</dt>
                        <dd>{{ getToolsCount(selectedStack.languages) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt ng-if="selectedStack.createdBy">Creation</dt>
                        <dd ng-if="selectedStack.createdBy">{{selectedStack.createdAt | date: 'medium'}} by
                            {{selectedStack.createdBy.email}}</dd>
                    </dl>
                    <dl>
                        <dt ng-if="selectedStack.updatedBy">Last Update</dt>
                        <dd ng-if="selectedStack.updatedBy">{{selectedStack.updatedAt | date: 'medium'}} by {{selectedStack.updatedBy
                            .email}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="well items-list">
            <button class="btn btn-info pull-right" ng-click="addNewStack()">Add New Project</button>
            <h4>Projects</h4>
            <smart-list checked-model="checkedStacksModel" events="stacksListEvents" options="stacks"
                        extra-settings="stacksListSettings">
                        </smart-list>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well items-list animate-if" ng-if="selectedStack">
            <h4>What languages do you use?</h4>
            <smart-list checked-model="checkedLangsModel" events="langsListEvents" options="languages"
                        extra-settings="langsListSettings"></smart-list>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well items-list animate-if" ng-if="selectedLang">
            <button class="btn btn-info pull-right" ng-click="addMissingCategory()">Add Category</button>
            <h4>What do you use for..</h4>
            <smart-list checked-model="checkedCatsModel" events="catsListEvents"
                        options="filteredCategories"
                        extra-settings="catsListSettings"></smart-list>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well items-list animate-if" ng-if="selectedCat">
            <button class="btn btn-info pull-right" ng-click="addMissingTool()">Add Tool</button>
            <h4>How do you do {{ selectedCat.categoryName }}?</h4>
            <smart-list checked-model="checkedToolsModel" events="toolsListEvents"
                        options="filteredTools"
                        extra-settings="toolsListSettings">
                <div ng-show="isChecked(getPropertyForObject(option, settings.idProp))">
                    <select class="form-control" ng-model="getModelForObject(getPropertyForObject(option,settings.idProp)).version">
                        <option value="">Select Version</option>
                        <option ng-selected="getModelForObject(getPropertyForObject(option,settings.idProp)).version === item._id"
                                ng-repeat="item in this.option.versions"
                                value="{{item._id}}">{{item.versionNumber}}</option>
                    </select>
                </div>
            </smart-list>
        </div>
    </div>
</div>
